.single-post {

    .cross-posts {

        &__title {
            @include h2;
            margin: 0 0 15px; 
        }

        li {
            margin: 0 0 10px;

            a {
                font-size: 18px;
                line-height: 24px;
                color: $color-3;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}