$color-1:#212121;
$color-2:#ffffff;
$color-3:#7FB100;
$color-4:#33719c;
$color-5:#4481ab;
$color-6:#4d6db0;
$color-7:#666666;
$color-8:#6788ce;
$color-9:#7a7b7a;
$color-10:#9f9f9f;
$color-11:#efefef;
$color-12:#fefefe;
$color-13:#f6f6f6;
$color-14:#f9f9f9;
$color-15:#333333;
$color-16: #6A8D12;
$color-17: #DCDCDC;
$color-18: #05A551;
$msg-info: #cce5ff;
$tg-color: #0088CC;

$newcolor-1: #909090;

$message-warning-border: #f6993f;
$message-warning-bg: #fff5eb;
$message-warning-color: #de751f;

$message-success-border: #4dc0b5;
$message-success-bg: #e8fffe;
$message-success-color: #0d3331;

$message-alert-border: #ef5753;
$message-alert-bg: #fcebea;
$message-alert-color: #cc1f1a;
