// This icons generated via https://icofont$com/

$icofont-rounded-down: "\ea99";
$icofont-telegram: "\ed75";
$icofont-info-circle: "\ef4e";
$icofont-question-circle: "\efca";
$icofont-check-alt: "\eed6";
$icofont-envelope: "\ef14";
$icofont-phone: "\efbb";
$icofont-credit-card: "\eef4";
$icofont-sale-discount: "\efdd";
$icofont-mastercard: "\ecdb";
$icofont-visa: "\ece8";
$icofont-vk: "\ed83";
$icofont-clock-time:"\eedc";
$icofont-location-pin: "\ef79";
$icofont-search-1: "\ed11";
$icofont-filter: "\ef29";
$icofont-settings: "\efe2";
$icofont-close-line: "\eee1";
$icofont-exclamation: "\ef1c";
$icofont-document-folder: "\ef06";
$icofont-support: "\ecfa";

[class*="icofont-"] {
	font-family: $icon-font;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

.icofont-rounded-down:before {
	content: "\ea99";
}

.icofont-telegram:before {
	content: "\ed75";
}

.icofont-info-circle:before {
	content: "\ef4e";
}

.icofont-question-circle:before {
	content: "\efca";
}

.icofont-check-alt:before {
	content: "\eed6";
}

.icofont-envelope:before {
	content: "\ef14";
}

.icofont-phone:before {
	content: "\efbb";
}

.icofont-credit-card:before {
	content: "\eef4";
}

.icofont-sale-discount:before {
	content: "\efdd";
}

.icofont-mastercard:before {
	content: "\ecdb";
}

.icofont-visa:before {
	content: "\ece8";
}

.icofont-vk:before {
	content: "\ed83";
}

.icofont-clock-time:before {
  content: "\eedc";
}

.icofont-location-pin:before {
  content: "\ef79";
}

.icofont-search-1:before {
  content: "\ed11";
}

.icofont-filter:before {
  content: "\ef29";
}

.icofont-settings:before {
  content: "\efe2";
}

.icofont-close-line:before {
  content: "\eee1";
}

.icofont-exclamation:before {
  content: "\ef1c";
}

.icofont-document-folder:before {
  content: "\ef06";
}

.icofont-support:before {
  content: "\ecfa";
}