.related-products {
    margin: 0 0 30px;

    &__title {
        @include h2;
        margin: 0 0 15px; 
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @include laptop {
            grid-template-columns: repeat(1, 1fr);
        }

        &-item {
            @include single-product-listing
        }
    }
}