.header {

    @include desktop {
        position: relative;
    }

    &__megamenu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: $color-12;
        z-index: 15;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        opacity: 0;
        visibility: hidden;
        display: none;
        @include transition(.3s);
        max-height: calc(100vh - 180px);
        overflow-y: auto;

        .menu-megamenu-container {
            padding: 20px 0;
        }

        ul#menu-megamenu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & > li {
                padding: 0 0 30px;

                &:not(.menu-item-has-children) {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: $color-1;
                    display: block;

                    &:hover {
                        color: $color-3;
                        text-decoration: underline;
                    }
                }

                & > a {
                    font-size: 18px;
                    line-height: 24px;
                    margin: 0 0 15px;
                }

                ul.sub-menu {

                    li > a {
                        font-size: 16px;
                        line-height: 20px;
                        color: $color-9;
                        margin: 0 0 5px;
                    }

                    li:nth-child(n+6) {
                        display: none;
                    }
                }

                .more {
                    font-size: 14px;
                    color: $color-3;
                    line-height: 20px;
                    margin: 10px 0 0;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.open ul.sub-menu > li {
                    display: block;
                }
            }
        }
    }
}

body.megamenu-active {
    overflow: hidden;

    .header__megamenu {
        opacity: 1;
        visibility: visible;
        display: block;

        &-after,
        &-before {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: -100%;
            z-index: 9;
            background: rgba($color: #000000, $alpha: .3);
            @include transition(.3s);
        }

        &-after {
            bottom: -100%;
        }

        &-before {
            bottom: 100%;
        }
    }
}