.lang-switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;

    @include tablet {
        margin-left: 0;
    }

    a {
        margin: 0;
        text-transform: uppercase;
        color: $color-17;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
        line-height: 24px;
        padding: 5px 0 3px;
        width: 58px;
        text-align: center;
        background-color: $color-2;

        @include mobile {
            width: 40px;
            font-size: 12px;
        }

        &.active {
            color: $color-3;
            border-radius: 3px 0 0 3px;
            border-left: 2px solid;
            border-color: $color-3;
        }

        &:not(.active) {
            border-radius: 0 3px 3px;
            border-color: $color-17;
        }
    }
}
